<%- include('../partials/headers.ejs') %>

<body>
    <div class="container m-4">
        <h3 class="m-4">Features</h3>
        <ul>
            <li><a href="/admin/allComplaints" style="text-decoration: none;">All Complaints</a></li>
            <li><a href="/admin/addNotice" style="text-decoration: none;">Add Notice</a></li>
            <li><a href="/admin/allNotices" style="text-decoration: none;">All Notices</a></li>
            <li><a href="/admin/allStudents" style="text-decoration: none;">All Students</a></li>
        </ul>
    </div>
</body>
</html>