<%- include('../partials/headers.ejs') %>

    <body>
        <form action="/admin/" method="post">
            <div class="container m-4">
                <label for="username">Username</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="password" name="password">
                <button type="submit">Login</button>
            </div>
        </form>
    </body>

</html>