<div class="list-group container" style="width: 500px;height: 250px; margin-top: 130px; ">
    <a href="/addComplaint" class="list-group-item list-group-item-action list-group-item-light" aria-current="true"
        style="border-color: rgb(28, 19, 95);border-width: 1.5px;">
        Register new complaint
    </a>
    <a href="/allComplaints" class="list-group-item list-group-item-action list-group-item-light"
        style="border-color: rgb(28, 19, 95);border-width: 1.5px;">All complaints</a>
    <a href="/viewLatestComplaint" class="list-group-item list-group-item-action list-group-item-light"
        style="border-color: rgb(28, 19, 95);border-width: 1.5px;">View latest complaint</a>
    <!-- <a href="#" class="list-group-item list-group-item-action">A fourth link item</a> -->
</div>