<%- include('./partials/headers.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
            <div class="container marketing mt-4 p-4" style="padding:3%">

                <hr class="featurette-divider">
                <h5 class="featurette-heading fw-normal lh-1"
                    style="padding: 40px;max-width: 1000px;text-align: center;margin-left: 130px;font-weight:bolder;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    IIITN hostel offers a range of
                    facilities to ensure a comfortable and conducive living environment for students.Each room is
                    well-furnished with essential amenities, including beds, study tables, and wardrobes. We provide
                    high-speed
                    Wi-Fi throughout the premises, allowing students to stay connected and complete academic tasks
                    efficiently. The hostel
                    also has a dining hall that serves nutritious and hygienic meals. For recreation, there are common
                    rooms with TV and
                    indoor games and a gymnasium. As security is a priority,
                    we have 24/7 surveillance and dedicated staff to ensure students' safety.
                </h5>
                <hr class="featurette-divider">
                <div class="row featurette">
                    <div class="col-md-7" style="display: flex;flex-direction: column;justify-content: center;">
                        <div style="padding: 50px;">

                            <h5 class="featurette-heading fw-normal lh-1"
                                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding: 40px;text-align: center;">
                                Laundry facility
                                offers convenient
                                access to washing machines and dryers for students. It provides a
                                hassle-free solution for washing and drying clothes, saving time and effort. Students
                                can
                                maintain cleanliness and
                                hygiene without leaving the premises, ensuring their comfort and convenience throughout
                                their stay.</h5>

                        </div>
                    </div>
                    <div class="col-md-5" style="display: flex;flex-direction: column;justify-content: center;">
                        <img src="/images/laundary.png" alt="laundary" class="m-4"
                            style="border-radius: 2%;width:350px">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">

                    <div class="col-md-7 order-md-2"
                        style="display: flex;flex-direction: column;justify-content: center;">
                        <div style="padding: 50px;">

                            <h5 class="featurette-heading fw-normal lh-1"
                                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding:40px;text-align: center;">
                                Gym offers modern fitness equipment, including treadmills, stationary bikes,
                                weightlifting
                                machines, and free
                                weights. It provides a spacious and well-ventilated environment for students to maintain
                                their physical health. The gym
                                is accessible during convenient hours, promoting a healthy lifestyle among residents.
                            </h5>

                        </div>
                    </div>
                    <div class="col-md-5 order-md-1"
                        style="display: flex;flex-direction: column;justify-content: center;">
                        <img src="/images/gym.png" alt="gym" style="width: 400px;">
                    </div>
                </div>

                <hr class="featurette-divider">

                <div class="row featurette">
                    <div class="col-md-7" style="display: flex;flex-direction: column;justify-content: center;">
                        <div style="padding: 50px;">
                            <h5 class="featurette-heading fw-normal lh-1"
                                style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding: 40px;text-align: center;">
                                Library provides a quiet and conducive environment for students to study and conduct
                                research. It houses a
                                diverse collection of books, journals, and study materials catering to various academic
                                disciplines. The library offers
                                comfortable seating, internet access, and study spaces, supporting students' academic
                                endeavors effectively.</h5>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="/images/books.jpg" alt="library" style="width:300px" class="mx-4">

                    </div>
                </div>

                <hr class="featurette-divider">
            </div>


    </body>

    <%- include('./partials/footer.ejs') %>